:root{
    --main-bg:hsl(243, 96%, 9%);
    --font-color:hsl(0, 0%, 100%);
    --btn-bg : hsl(233, 67%, 56%);
    --bg:hsl(243, 27%, 20%);
    --flex : flex;
    --center : center;
    --column:column;
    --Neutral-800: hsl(243, 27%, 20%);
    --Neutral-700: hsl(243, 23%, 24%);
    --Neutral-600: hsl(243, 23%, 30%);
    --Neutral-300: hsl(240, 6%, 70%);
    --Neutral-200: hsl(250, 6%, 84%);
}