.today-details{
  font-family: 'DM Sans', sans-serif;

  width: 90%;
  max-width: 23.4375rem;     
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .875rem;
}

.grid-item{
  border-radius: .75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: hsl(243, 27%, 20%);
  border: .0625rem solid hsl(243, 23%, 30%);

  gap: .625rem;
  min-height: 5.75rem;

  font-size: .875rem;
  opacity: .95;
}

.today-txt{
  font-size: 1.625rem;
  font-weight: 400;
  opacity: 1;
}
.item-header{
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width:64rem){
  .today-details{
    max-width: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .875rem;
    width: 100%;
  }

  .grid-item{
    padding: 1.125rem;
    min-height: 6.875rem;
    font-size: 1rem;
  }

  .today-txt{
    font-size: 1.625rem;
  }
}
