
.container{
  width: 100%;
  max-width: 23.4375rem;
  margin: 0 auto;
}

.today-weather-imgbox{
  font-family: 'DM Sans', sans-serif;

  width: 100%;
  height: 15.625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 1.125rem 1.125rem .875rem;
  border-radius: 1.125rem;

  background-image: url("../../images/main/today-section/bg-today-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;     

  margin-bottom: 1.25rem;
}

.today-text-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .375rem;

  padding-top: .375rem;
}

.today-header{
  font-weight: 600;
  margin: 0;
  font-size: 1.25rem;
}

.today-date{
  font-weight: 400;
  font-size: .875rem;
  opacity: .85;
}

.temp-icon-wrapper{
  margin-top: auto; 
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.today-weather{
  width: 7.5rem;             
  height: 7.5rem;
}

.today-tempreature{
  font-style: italic;
  font-size: 5rem;         
  font-weight: 600;
  line-height: 1;
}

.temp-icon{
  padding-left: .125rem;
  font-weight: 900;
  font-size: 2.25rem;
  font-style: normal;
}

@media (min-width:64rem){
  .container{
    max-width: none;
  }

  .today-weather-imgbox{
    background-image: url("../../images/main/today-section/bg-today-large.svg");
    background-size: cover;
    height: 13.75rem;
    
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    padding: 1.75rem 2rem;
  }

  .today-text-wrapper{
    align-items: flex-start;
    text-align: left;
    padding-top: 0;
  }

  .temp-icon-wrapper{
    margin-top: 0;
    justify-content: flex-end;
  }
}
