.search-wrapper{
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  margin: 0 auto;
  width: 100%;
  max-width: 85%; 
}


.input-container{
  display: flex;
  align-items: center;
  gap: .625rem;

  background: hsl(243, 27%, 20%);
  border: .0625rem solid hsl(243, 23%, 30%);
  border-radius: .75rem;

  width: 100%;
  height: 2.75rem;
  padding: 0 .875rem;
}

.input-container img{
  width: 1.125rem;
  height: 1.125rem;
  flex: 0 0 auto;
}

.search-bar{
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
}

.search-bar::placeholder{
  color: rgba(255,255,255,.85);
  font-size: 1rem;
}

.input-container:focus-within{
  outline:  .125rem solid white;
  outline-offset: .125rem;
}

.search-btn{
  font-family: 'DM Sans', sans-serif;
  border: none;
  border-radius: .75rem;

  width: 100%;
  height: 2.75rem;

  background-color: hsl(233, 67%, 56%);
  color: white;

  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.search-btn:hover{
  filter: brightness(1.05);
}

.search-btn:focus-visible{
  outline: .125rem solid hsl(233, 67%, 56%);
  outline-offset: .125rem;
}
.search-btn:hover{
  background-color: hsl(248, 70%, 36%);
  transition: background 300ms ease;
}
@media (min-width:64rem) {
  .search-wrapper{
    max-width: 90rem; 
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    gap: .875rem;
  }

  .input-container{
    max-width: 32.5rem;
    width: 32.5rem;
    justify-content: flex-start;
    padding-left: 1.25rem;
  }

  .search-btn{
    width: 6.25rem;
    max-width: 6.25rem;
  }
}
